<div class="main">
  <input type="text" class="adj-box top-left" 
  [(ngModel)]="topLeft"
  (input)="changeTopLeft()">
  <input type="text" class="adj-box top-right"
  [(ngModel)]="topRight"
  (input)="changeTopRight()">
  <input type="text" class="adj-box bottom-left"
  [(ngModel)]="bottomLeft"
  (input)="changeBottomLeft()">
  <input type="text" class="adj-box bottom-right"
  [(ngModel)]="bottomRight"
  (input)="changeBottomRight()">
  border-top-left-radius:{{topLeft}}px;
  <br>
  border-top-right-radius:{{topRight}}px;
  <br>
  border-bottom-left-radius:{{bottomLeft}}px;
  <br>
  border-bottom-right-radius:{{bottomRight}}px;

  <div class="clipboard-area">
    <button (click)="copyMessage()" value="click to copy" >Copy To ClipBoard</button>
  </div>
</div>



